<div>
    <div>
    <h1 id="bill-amount"><span>&pound;$bill.billAmount</span></h1>
    <div>
        <!-- ngIf: !billProfile.isMultiMsisdn -->
        <div>
            <div>Date issued</div>
            <div id="bill-date">$bill.dateIssued</div>
        </div>
        <div>
            <div>Billing period</div>
            <div id="bill-period">$bill.billPeriod
            </div>
        </div>
    </div>
    <div id="device-plan-message">This bill is for your Airtime Plan only. There is a separate monthly payment for your <a href="">Device Plan.</a></div>
</div>
</div>