<style type="text/css">

    body{
    font-family: "Trebuchet MS",
    Arial, Helvetica, sans-serif;
    }

    th{
    font-family: "Trebuchet MS",
    Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: #87c4cc;
    color: #FFF;
    width: 100px;
    text-align:center;
    font-weight: bold;
    }

    td {
    text-align:left;
    padding-left: 20px;
    }
    #bill-amount{
    font-size: 40px;
    color:#032b5a;
    font-family: "Trebuchet MS",
    Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top:10px;
    padding-bottom:10px;
    }
    #trend{
    padding-top:40px;
    }
    #pie{
    width:452;
    height:289;
    padding-left:157px;

    }

    .cta{
    background-size: auto 14px;
    background-position: left top;
    padding-left: 21px;
    color: #3da1dc;
    padding-top:10px;
    }

    #msisdn{
    float: right;
    padding-right: 800px;
    color:#032b5a;
    font-weight: bold;
    font-size: 18px;
    }
    .link1{
    padding-left:5px;
    }

    .link2{
    padding-left:95px;
    }

    #latest-bill{
    padding-bottom:10px;
    font-size:16px;
    font-weight: bold;
    color:#032b5a;
    padding-top:10px;
    }

    #promos{
        float: left;
    }

    #main-container{
        width: 68%;
        padding-top:15px;
    }

    #bill-summary-container{
    width: 50%;
    float: left;
    }

    #charts{
        float:left;
    }

    #billing-address-container{
    width: 50%;
    float: right;
    }
    #links{
    padding-top: 20px;
    }
    #bigbundle{
    padding-top: 20px;
    }

    #iphone{
    padding-top: 20px;
    width:356px;
    height:197px;
    }

    #upgrade-message{
    padding-top: 20px;
    font-size: 20px;
    color: #00496e;
    float:left;
    }

    #address{
        padding-top:10px;
        color:#032b5a;
    }

    #address-title{
        padding-bottom:10px;
        font-size:16px;
        font-weight: bold;
        color:#032b5a;
        padding-top:10px;
    }
</style>

<div>
    <p>Hi $bill.name,</p>
    <p>This is not just a latest bill but a comprehensive analysis to help you to make most of our services.</p>

    <div id="msisdn">$bill.msisdn</div>

    <div>
        <div id="main-container">
            <div id="bill-summary-container">
                <p id="latest-bill">Your latest bill:</p>
                <div id="bill-amount"><span>&pound;$bill.billAmount</span></div>
                <table id="bill-summary" width="90%">
                    <tr>
                        <th>Date issued</th>
                        <th>Billing period</th>
                        <th>Payment due date</th>
                    </tr>
                    <tr>
                        <td width="25%">$bill.dateIssued</td>
                        <td width="50%">$bill.billPeriod</td>
                        <td width="25%">$bill.billDueDate</td>
                    </tr>
                </table>
                <div id="links">
                    <span class="link1"><a class="cta" href="http://www.o2.co.uk/"><img src="http://192.168.2.105/img/highend/cta_link.png"/>Make a payment</a></span>
                    <span class="link2"><a class="cta" href="http://www.o2.co.uk/"><img src="http://192.168.2.105/img/highend/cta_link.png"/>Change tariff</a></span>
                </div>
            </div>
            <div id="billing-address-container">
                <div>
                    <p id="address-title">Billing address:</p>
                    <p>If you want to change any of your billing addresses, we'll send a text containing a code to your contact mobile number 07011111021 to confirm that it's you.</p>

                <div id="address">
                    <p>50 TEXNICAL SOLUTIONS LTD</p>
                    <p>HILLFIELD AVE</p>
                    <p>HEATH STREET</p>
                    <p>LONDON</p>
                    <p>N8 7DT</p>
                    <p><a href="">Change billing address</a></p>
                </div>
                </div>
            </div>
        </div>
        <div id="charts">
            <img  id="trend" src="http://192.168.2.105/bill/${bill.billTrendChart}"/>
            <img id="pie" src="http://192.168.2.105/bill/bill-details-${bill.msisdn}.png"/>
        </div>
        #if($bill.upgradeMessage && "$bill.upgradeMessage"!="")<p id="upgrade-message">$bill.upgradeMessage</p>#end
    </div>

    <div id="promos">
        <a href="https://www.o2.co.uk/shop/phones/apple/iphone-6/#activeTabNum=8&noScroll=yes"><img id="iphone" src="http://192.168.2.105/bill/Iphone.png" alt="Iphone 6 on O2"/></a>
        <a href="https://www.o2.co.uk/freesim/tariffs/big-bundles"><img id="bigbundle" src="http://192.168.2.105/bill/bigbundle.png" alt="Big bundle"/></a>
        <a href="http://www.o2.co.uk/help/phones-and-devices/collection-and-delivery"><img id="free-delivery" src="http://192.168.2.105/bill/delivery.png" alt="Free delivery"/></a>
    </div>
</div>